version: '3'

services:
  backend:
    image: node:8.12.0-stretch
    working_dir: /code
    command: [
      "./wait-for-it.sh", 
      "db:3306", 
      "--",
      "npm",
      "run",
      "dev"
    ]
    environment:
      PORT: 8080
    volumes:
      - ./backend:/code
    ports:
      - "8080:8080"
    networks: 
      - backend
      - db
    depends_on:
      - db
  frontend:
    image: node:8.12.0-stretch
    working_dir: /code
    command: npm start
    volumes:
      - ./frontend:/code
    ports:
      - "3000:3000"
    networks: 
      - backend
  db:
    image: mysql:5.7.24
    ports:
      - "3306:3306"
    environment: 
      - MYSQL_ROOT_PASSWORD=pa55w0rd11
    networks: 
      - db

networks: 
  backend:
  frontend:
  db: