.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 20%;
    background-color: #4D394B;
}

.right {
    right: 0;
    width: 80%;
    background-color: #FFFFFF;
}

.centered {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conversation-name {
    height: 5%;
    border-bottom: 1px solid #e8e8e8;
    left: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.message-list {
    height: 87%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: red; */
}

.input-text {
    height: 8%;
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    /* background-color: green; */
}