.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 20%;
    background-color: #4D394B;
}

.center {
    left: 20%;
    width: 60%;
    background-color: #FFFFFF;
}

.right {
    right: 0;
    width: 20%;
    background-color: white;
    padding: 10px;
    border-left: 0.5px solid rgb(236, 236, 236);
}

.centered {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-user-date {
    color: rgba(128, 128, 128, 0.568);
    font-style: italic;
    padding-left: 30px;
    font-weight: normal;
}
